@page "/acercade"

@page "/datos"


<div class="text-center mt-3">
    <h1>Acerca de</h1>
    <br>
    <h4><b>Nombre: </b>Jose</h4>
    <h4><b>Apellido: </b>Rivas</h4>
</div>

<div class="text-center mt-3">
    <img src="images/foto orbi 4.jpg" width="300px" height="300px">
</div>
