@page "/"

<PageTitle>Viajes espaciales APP</PageTitle>
<center>
<div>
<h1>Registro de viajes Intergalacticos</h1>

<img src="https://www.nasa.gov/wp-content/themes/nasa/assets/images/nasa-logo.svg" 
width="600" height="600"/>
</div>
</center>